/* Responsividade para telemóveis */
@media (max-width: 768px){

    .card{
        width:95%;
        padding:25px;
        border-radius:20px;
    }

    .titulo{
        font-size:2rem;
    }

    .subtitulo{
        font-size:1rem;
    }

    .pergunta-num{
        margin-top:25px;
        font-size:1rem;
    }

    .pergunta{
        font-size:1.3rem;
        line-height:1.4;
    }

    button{
        padding:15px;
        font-size:0.95rem;
    }

    #resultado{
        font-size:1.2rem;
    }

    .fruta{
        font-size:25px;
    }
}

@media (max-width: 480px){

    .card{
        width:96%;
        padding:20px;
    }

    .titulo{
        font-size:1.7rem;
    }

    .pergunta{
        font-size:1.15rem;
    }

    button{
        padding:14px;
        font-size:0.9rem;
    }
}
